
body {
    font:16px/26px '微软雅黑';
}

h1 {
    text-align: center;
    font-weight: 400;   /* 注意weight没有px属性 */
}
.center, .img {
    text-align: center;
}
a {
    text-decoration: none;
}
span {
    font-size: 13px;
    color: #888 ;
}
p {
    text-indent: 2em;
}
.footer {
    font-size: 13px;
    color: #888 ;
    text-align: center;
}